/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRINCIPALES CONTENEDORES */
.App {
  width: auto;
  height: auto;
  margin-top: 8rem;
  border: solid .2rem lawngreen;
}

/* BARRA DE NAVEGACION */
nav {
  background-color: rgb(61, 61, 61);
  border-bottom: .5rem solid grey;

  border: solid .1rem grey;
}

.navMenu {
  display: flex;
  justify-content: center;

  border: solid .2rem palevioletred;
}

.navMenuLink {
  width: 7.5rem;
  height: 4rem;
  display: inline-block;
  margin: .5rem;
  border: 0.08rem solid white;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(12, 12, 12);
  color: white;
  transition: all 0.4s ease-in-out;
}

.navMenuLink:hover {
  color: white;
  text-decoration: none;
  border: 0.08rem solid rgba(248, 5, 5, 0.822);
  cursor: pointer;
}

.navMenuLink.active {
  font-size: 1rem;
  border: 0.2rem solid rgb(248, 5, 45);
  text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 5rem #fff, 0 0 .10rem #44f00f;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: #44f00f;
  -webkit-text-stroke-width: 0.1rem;
}

.navMenuLink h6 {
  margin: .6rem;
  text-align: center;
}

/* LOGO DE LA NAV */
.App-logo-image {
  width: 100%;
  height: 6rem;

  border: solid .2rem red;
}