/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f7;
}

/* PRINCIPALES CONTENEDORES */
.App {
  width: auto;
  height: auto;
  margin-top: 10.6rem;

  border: solid .2rem lawngreen;
}

/* BARRA DE NAVEGACION */
nav {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  background-color: #313636;
  border-bottom: .5rem solid grey;

  border: solid .1rem grey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: solid .2rem palevioletred;
}

.navMenuLink {
  width: 100%;
  height: 3rem;
  display: inline-block;
  margin: auto;
  margin-bottom: .2rem;
  /* border: 0.08rem solid white; */
  text-decoration: none;
  border-radius: 0.5rem;
  /* background-color: rgb(12, 12, 12); */
  color: #f5f6f7;
  transition: all 0.4s ease-in-out;
}

.navMenuLink:hover {
  color: #f75456;
  text-decoration: none;
  /* border: 0.08rem solid rgba(248, 5, 5, 0.822); */
  cursor: pointer;
}

.navMenuLink.active {
  font-size: 1rem;
  /* border: 0.2rem solid rgb(248, 5, 45); */
  /* text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 .10rem #f75456; */
  -webkit-text-fill-color: #313636;
  background-color: #b5b5b5;
  /* -webkit-text-stroke-width: 0.1rem; */
}

.navMenuLink h6 {
  margin: .7rem auto;
  text-align: center;
}


/* LOGO DE LA NAV */
.App-logo-image {
  width: 12rem;
  height: 4rem;

  /* border: solid .2rem red; */
}

.contentStartups {
  margin: auto;

  border: solid .2rem red;
}

.contentStartups a {
  display: block;
}

.card {
  width: 18rem;
  display: inline-flex;
  margin: .5rem .7rem;
}

.btn-primary {
  margin: .5rem auto;
  display: block;
}


/* MEDIA QUERIES */
/* Extra small devices */
@media screen and (max-width: 320px) {}

/* Extra small devices */
@media screen and (max-width: 375px) and (min-width: 321px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 425px) and (min-width: 376px) {
  .form-inline {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) and (min-width: 426px) {
  .App {
    margin-top: 5.9rem;
  }

  .form-inline {
    position: relative;
    right: 8rem;
  }

  .navbar-dark .navbar-toggler {
    position: relative;
    left: 24rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .App {
    margin-top: 5.9rem;
  }

  .form-inline {
    position: relative;
    right: 1.5rem;
  }

  .navMenuLink {
    width: 7.5rem;
    height: 2.5rem;
    position: relative;
    right: 2rem;
    margin-right: .5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .App {
    margin-top: 5.9rem;
  }

  .navMenuLink {
    width: 7.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    position: relative;
    right: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1441px) {}
